.header {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  flex: 1 1 auto;

  &--spacer {
    flex: 1 1 auto;
  }

  &--user {
    font-size: small;
    flex: 0 0 auto;

    &--logged-in {
    display: flex;
    flex-direction: column;
    }
  }
}
